# =========================
# Python
# =========================
venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo

.env

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# Android
# =========================
.gradle/
local.properties
**/build/
**/.cxx/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Outputs
# =========================
outputs/